
:root{
    --grid-row:1;
    --grid-height:1;
}
#contain{
    display: grid;
    grid-gap: 1em;
    grid-template-rows: repeat(var(--grid-row), 1fr);
    grid-template-columns: repeat(var(--grid-height), 1fr);
}
.grid-item{
    padding: 1em;
    border: 1px solid #ddd;
    text-align: center;
}
.colour-grid{
   background-color: blue;
}