
:root{
    --grid-row:1;
    --grid-height:1;
}
.container{
    display: flex;

}
#contain{
    display: grid;
   padding-left: 55em;
   padding-right: 15em;
   padding-top: 5em;
    grid-template-rows: repeat(var(--grid-row), 1fr);
    grid-template-columns: repeat(var(--grid-height), 1fr);
}
.grid-item{
    padding: 1em;
    border: 1px solid #ddd;
    text-align: center;
}
.colour-grid{
   background-color: blue;
}
.transformed{
    background-color: black;
    padding: 1em;
    border: 1px solid;
    text-align: center;
}
.mains{
    display: flex;
    flex-direction: column
}
#option{
width: 70px;
height: 20px;
}